body {
  background: #E7E5DF;
}

.App {

 color: #393E41;
}

.AppContent {
	background: #FFFFFF;
	padding:24px;
}

.form-control {
  background: #D3D0CB
}

.btn-default {
  background: #698F3F;
  border-color: #393E41;
}

.btn-default:hover {
  background: #769950;
  border-color: #393E41;
}

.navbar-default {
  background: #769950;
  color: #D3D0CB;
}

.navbar-default .navbar-brand {
  color: #393E41;
}
